.navigation {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	background: #1677ff;

	a {
		font-size: 22px;
		font-weight: 600;
		text-transform: uppercase;
		margin-bottom: 0;
		margin-left: 30px;
		text-decoration: none;
		color: #fff;
	}

	.content {
		display: flex;
		align-items: center;
	}



	.wrapper {
		display: flex;

		.settings {
			cursor: pointer;
			font-size: 18px;
			margin-right: 30px;
			color: #fff;
		}
	}
}